{% extends "base.html" %}

{% block content %}

<form action="" method="POST">
	<p style="text-decoration: blue;">Job Discription<input type="test" name="alpha"></p>
	<p style="text-decoration: blue;">Please select the way of classification</p>
	<input type="radio" id="ra" name="classification" value="ra">
	<label for="ra" style="text-decoration: chartreuse;">RA</label><br>
	<input type="radio" id="li" name="classification" value="li">
	<label for="li" style="text-decoration: chartreuse;">LI</label><br>
	<a href="submit1.html"><input type="submit" style="text-decoration: red;"></a>
</form>

{% endblock %}